body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: linear-gradient( to bottom, #f19143 15%, #4d5061 15%, #4d5061 100%);
    background-repeat: no-repeat;

}


form {
    font-size: 14px;
    width: 60vw;
    min-width: 300px;
    max-width: 600px;
    background-color: #30323d;
    margin: 0 auto;
    padding: 2rem 2rem;
    color: whitesmoke;
  
}

label {
    display: block;
      margin: 0.7rem 0;

  }

  input, select {
    background-color: #414451;
    font-size: 13px;
    color: #c1c1c1;
    border: 1px solid #cacaca;
}

input,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

header h1 {
    width: 65%;
    text-align: center;
    color:#f5f5f5;
    margin-top: 2rem;
    margin-left: auto;
    margin-bottom: none;
    margin-right: auto;
}

header p { 
    width: 55%;
    text-align: center;
    font-size: 0.8rem;
    color: #fff4e0;
    margin-top: -0.8rem;
    margin-left: auto;
    margin-bottom: none;
    margin-right: auto;
}


fieldset {
    border: none;
    padding-bottom: 2rem;
}

fieldset:not(:last-of-type) {
    border-bottom: 1px solid rgb(109, 109, 109);
}


footer  {
    width: 100%;
 
    background-color: #fabc3c;
    margin: none;
    text-align: center;
}


footer p {
    width: 70%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.75rem;
    color: #30323d;
}


.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.padding-space {
    padding-top: 1rem;
}

#contato {
    color: #919191;
    width: 60vw;
    margin: 1rem auto 0 auto;
    font-size: 0.8rem;
    text-align: center;

}

#submit {
    background-color: #ffb238;
    font-size: 12px;
    color: #0b0b0b;
    border: 1px solid #ffb238;
    width: 100%;
    margin: 0 auto;
}

#submit:hover {
    background-color: #ffc261;
    font-size: 12px;
    color: #0b0b0b;
    border: 1px solid #ffd99d;

}

::selection {
    color:#ff9161;
}

a {
    color: #414451;
}

a:hover {
    color:#cc7a37;
}

a:visited {
    color: #0b0b0b;
}
a:active {
    color: #ef9300;
}


.question {
    color: #ffb238;
}
